body {
    font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
    text-align: center;
    background-color: lightskyblue;
}

.container-fluid {
    margin-bottom: 2em;
}

.container {
    margin-top: 2em;
}

#cocktailForm {
    background-color: lightgrey;
}

img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.alignment {
    text-align: center;
}

.list-heading {
    color:red;
    font-size: large;
    font-weight: 500;
}

.row {
    margin:0;
}

table {
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 10px;;
}

th {
    border: solid 1px #dddddd;
    font-size: medium;
    background-color: #092532;
    color: #f4ebc1;
}
  
td {
    text-align: left;
    font-size: small;
}
